<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Recipe
  </h2>
  <form class="edit-recipe-form">
    <div>
      <h3>{{post.title}}</h3>
      <textarea name="recipe" class="form-input emoji">{{post.recipe}}</textarea>

    </div>

    <button type="submit" class="btn btn-primary">Save recipe</button>
    <button type="button" class="delete-recipe-btn btn btn-primary">Delete recipe</button>
  </form>
</article>

</form>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>