<ul class="post-list">
    {{#each posts as |post|}}
    <div class="recipe-card">
        <div>
            <h2>{{title}}</h2> {{meal.meal_name}} | posted by {{user.username}}
        </div>
        <div class="recipe-content">{{recipe}}</div>
    </div>
    {{/each}}
</ul>